
html {
  height: 100%;
}

body {
  font-family: monospace;
  font-size: 3rem;
  height: 100%;
  overflow: hidden;
}

h1, h2 {
  font-weight: bold;
}

h1, h2, p, pre, ul {
  padding: 0 0 3rem 0;
}

p, ul, p {
  padding-left: 3rem;
}

input {
  width: 100%;
  font: inherit;
  font-size: 50%;
  line-height: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Block {
  float: left;
}
.Block-inner {
}
.Block--rot0 .Block-inner {
  transform: rotate(0deg) translate(8px, -3px);
  -webkit-transform: rotate(0deg) translate(8px, -3px);
}
.Block--rot90 .Block-inner {
  transform: rotate(90deg) translate(8px, -3px);
  -webkit-transform: rotate(90deg) translate(8px, -3px);
}
.Block--rot180 .Block-inner {
  transform: rotate(180deg) translate(8px, -3px);
  -webkit-transform: rotate(180deg) translate(8px, -3px);
}
.Block--rot270 .Block-inner {
  transform: rotate(270deg) translate(8px, -3px);
  -webkit-transform: rotate(270deg) translate(8px, -3px);
}
.Block--rot0.Block--underline {
  border-bottom: 5px solid transparent;
}
.Block--rot90.Block--underline {
  border-left: 5px solid transparent;
}
.Block--rot180.Block--underline {
  border-top: 5px solid transparent;
}
.Block--rot270.Block--underline {
  border-right: 5px solid transparent;
}

.LetterGrid {
}

.Clock {
  font-size: 0.5em;
  text-align: center;
  width: 100%;
}

.Scoreboard {
  font-size: 0.5em;
  text-align: center;
  width: 100%;
}
.Scoreboard.Scoreboard--delta {
}

.Answers {
  font-size: 0.5em;
  list-style: none;
}
.Answers li {
  display: inline-block;
  width: 8em;
  height: 1em;
}
.Answers .Answers-accentContainer {
  position: relative;
  height: 100%;
}
.Answers .Answers-text {
  z-index: 1;
  position: absolute;
  left: 12px;
  cursor: pointer;
}
.Answers .Answers-accent {
  position: absolute;
  bottom: 0;
  height: 0.33em;
  width: 100%;
  z-index: 0;
}

.Answers .Answers-checkIcon {
  position: absolute;
  z-index: 1;
  color: LimeGreen;
}

.Typewriter-cursor {
  color: gray;
  margin: -0.1em;
}
.Typewriter.Typewriter--wrong div {
  color: Crimson;
  text-decoration: line-through;
}
.Typewriter.Typewriter--paused {
  color: Gray;
}

.Controls {
  font-size: 0.5em;
  margin: 0 1em;
  color: Gray;
  opacity: 0.5;
  -moz-opacity: 0.5;
  -webkit-opacity: 0.5;
}

.Controls:hover {
  opacity: 1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
}

.Messages {
  margin: 1rem 0 10rem 1rem;
}

.u-widthHalf {
  width: 0.5em;
}
.u-width1 {
  width: 1em;
}
.u-width2 {
  width: 2em;
}
.u-width3 {
  width: 3em;
}
.u-width4 {
  width: 4em;
}
.u-height1 {
  height: 1em;
}
.u-height2 {
  height: 2em;
}
.u-height3 {
  height: 3em;
}
.u-height4 {
  height: 4em;
}

.u-hidden {
  visibility: hidden;
}
.u-fixedTop {
  top: 0;
  position: fixed;
  width: 100%;
}
.u-fixedBottom {
  bottom: 0;
  position: fixed;
  width: 100%;
}
.u-clockHeightMargin {
  padding-top: 3rem;
}
.u-gridWidthMargin {
  margin-left: 10rem;
}
.u-scrollContainer {
  height: 100%;
  overflow: scroll;
  position: absolute;
}

.u-zAnswers {
  z-index: 5;
}
.u-zTypewriter {
  z-index: 6;
}
.u-zControls {
  z-index: 7;
}
.u-zTop {
  z-index: 10;
}

.u-inline {
  display: inline;
}

.u-pullRight {
  float: right;
}

.u-textRight {
  text-align: right;
}

.u-underline {
}

