
body {
  background-color: Black;
  color: White;
}

a, a:visited {
  color: MediumTurquoise;
}

a:hover {
  color: Aqua;
}

.Scoreboard {
  background: DarkSlateGray;
}
.Scoreboard.Scoreboard--delta {
  background: LimeGreen;
  color: Black;
}

.Clock {
  background: SlateGray;
}
.Clock.Clock--alert {
  background-color: DeepPink;
  color: White;
}

.Answers .Answers-accent {
  background: DarkSlateGray;
}
.Answers .Answers-checkIcon {
  color: SpringGreen;
}

.u-highlight {
  background: DeepPink;
}

.Block--rot0.Block--underline {
  border-bottom-color: DarkSlateBlue;
}
.Block--rot90.Block--underline {
  border-left-color: DarkSlateBlue;
}
.Block--rot180.Block--underline {
  border-top-color: DarkSlateBlue;
}
.Block--rot270.Block--underline {
  border-right-color: DarkSlateBlue;
}
