
body {
  background-color: White;
  color: Black;
}

a, a:visited {
  color: SkyBlue;
}

a:hover {
  color: RoyalBlue;
}

.Scoreboard {
  background: GhostWhite;
}
.Scoreboard.Scoreboard--delta {
  background: Green;
  color: White;
}

.Clock {
  background-color: WhiteSmoke;
}
.Clock.Clock--alert {
  background-color: Crimson;
  color: white;
}

.Answers .Answers-accent {
  background: WhiteSmoke;
}
.Answers .Answers-checkIcon {
  color: LimeGreen;
}

.u-highlight {
  background: Gold;
}

.Block--rot0.Block--underline {
  border-bottom-color: SkyBlue;
}
.Block--rot90.Block--underline {
  border-left-color: SkyBlue;
}
.Block--rot180.Block--underline {
  border-top-color: SkyBlue;
}
.Block--rot270.Block--underline {
  border-right-color: SkyBlue;
}
