.PhotoPopup .photo {
  max-width: 64px;
  max-height: 64px;
  display: block;
}

.PhotoPopup .cornerbox {
  color: white;
  background-color: rgba(0,0,0,0.5);
  padding: 0 4px;

  position: absolute;
  right: 10px;
  bottom: 15px;
}
