
.Parent {
  margin-bottom: 2rem;
}

.Child {
  display: inline-block;
  padding: 0 1rem;

  height: 2rem;
  line-height: 2rem;

  color: #D14200;
  font-weight: bold;
  /* TODO: figure out how to share info with
   * typography */
  font-family: 'Raleway', sans-serif;
}
.Child:hover {
  text-decoration: none;
}
.Child.selected {
  box-shadow: 0 4px 0 #D14200;
}
