
.Header {
  display: grid;
  grid-template-columns: 0fr 1fr;
}

.Header_photo {
  max-width: 200px;
  min-width: 60px;
  width: 15%;

  /* in case grid layout is not supported */
  float: left;

  margin-right: 1rem;
}

.Title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
}

.Subtitle {
  color: #888;
  margin-bottom: 0;
}

.PostPreview {
  color: inherit;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  display: block;
}
.PostPreview:hover {
  text-decoration: none;
}
.PostPreview h2 {
  color: #D14200;
}

.ReadMore {
  display: block;
  text-align: right;
  color: #D14200;
}
.ReadMore:hover {
  text-decoration: underline;
}
