hr {
  outline: 1px solid lightgrey;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

a {
  color: #D14200;
}

img {
  /* override */
  margin-bottom: 0;
}

p {
  line-height: 1.5em;
}

.dropcap {
  float: left;
  font-size: 3.5em;
  text-transform: lowercase;
  margin-right: 0.1em;
  margin-top: 0.15em;
  font-style: italic;
}
