.Footer {
  font-size: 0.8rem;
  text-align: center;
  margin: 4rem 0.5rem 0.5rem;
  color: grey;
  line-height: 1rem;
}

.Footer img {
  height: 1rem;
  vertical-align: middle;
}

.Footer ul {
  list-style-type: none;
}

.Footer li {
  margin-bottom: 0;
}
